// --------------- Color
$color--primary: #b0d0d5;
$color--firstText: #424242;
$color--secondText: #757575;
$color--thirdText: #bdbdbd;
$color--primaryBg: #f0f6f7;
// ----------------------- Media Widths

$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 576px;
$xxs-width: 450px;
